.faq-list {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
}
.faq_element {
    width: 90vw;
    margin: auto;
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    text-align: start;
}

.search-bar {
    width: 35vw;
    margin:0 5%;
}

/*styling for carla's original faq stuff*/
.question-container {

    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:30px;
    background-color: aliceblue;
    margin-bottom:30px;
}
.question {
    display:flex;

}

/* the new styling from andrews stuff */
.questionCard {
    background: aliceblue!important;
    font-size: 1.2em;
    font-weight: medium;
    cursor: pointer;
    
}

.replyCard{
    text-align: left;
    font-size: 1em;
}
