.video_component{

    padding:2% !important;
}

.subcomponent {
    text-align: left;
    padding:3% !important;
}

h1 {
    margin-left: -20px !important;
}

.container {
    margin-bottom: 50px;
}

h5 {
    margin-left:30px !important;
}

.sketches{
    margin:1em;
    padding: 0em;
    margin-left: -50px;
    min-width: 70%;
    max-width: 95%;
    min-height: 35vh;
    max-height: 50vh;
    float: center;
}

.second_sketches_row{
    margin-top: -30px;
    margin-bottom: -30px;
}

.sketches_prototype{
    padding:10px;
}

.profile_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.prototypeDesign{
    text-align: center;
    margin:0;
}
.formative-image{
    float: left;
    height: 28vh;
    width: 27vw;
}
.formative-para{
    margin-top: 1%;
}