#covidMap{
    height: calc(60vh - 1em);
    width: 100%;
    /* border: 2px solid red; */
}

.covidMapBody{
    height: 100%;
    width: 100%;
}
.covidMapCanvas{
    height: calc(100% - 2em);
    margin-top: -.5em;
    z-index: 0;
    width: 100%;
}
#mapControls{
    height: 35vh;
    width: 100%;
    /* border: 2px solid red; */
}

#mapFilters{
    height: 50vh;
    width: 100%;
    /* border: 2px solid red; */
}
#mapCompare{
    height: 30vh;
    width: 100%;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
}
.compareList{
    height: calc(100% - 3em - 1vh);
    overflow-y:scroll;
}
 .compareHeader{
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
 }

 .top-buffer{
     margin-top: 1vh;
     margin-bottom: .1vh;
 }

 .text-left{
    text-align: left;
 }

#itinerary{
    height: calc(60vh - 1em);
    width: 100%;
    overflow-y: auto;
    /* border: 2px solid red; */
}

.map-g{
    transition: all .5s ease-in;
}

.city-list{
    max-height: 40vh;
    width: auto;
    overflow-y: hidden;
    height: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

circle{
    stroke: black;
}

.city{
    cursor: pointer;
    fill-opacity: .8;
}

.city-default {
    stroke-width: .75;
    fill: white;
    opacity: .75;
    fill-opacity: .01;
}
.city-primary{
    stroke-width: 1;
    fill: black;
    opacity: 1;
}
.city-inspect{
    stroke-width: 1;
    fill: #d95f02;
    opacity: .9;
}
.city-itinerary{
    stroke-width: 1;
    fill: #1b9e77;
    opacity: .9;
}
.city-hidden{
    display: none;
}
.cityName{
    /* font-size: 1em; */
    transform-origin: left;
    text-anchor: center;
    font-weight: bold;
}
.cityName-hidden, .cityName-default{
    display: none;
}
/* circle{
    stroke: 'black';
    stroke-width: 1em;
}  */